language: julia
os:
    - linux
julia:
    - 0.6
matrix:
    allow_failures:
        - julia: nightly
notifications:
    email: false
sudo: false
addons:
    apt_packages:
        - gfortran
        - liblapack-dev
        - libgmp-dev
        - libglpk-dev
after_success:
- julia -e 'cd(Pkg.dir("ProxSDP")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
- echo $TRAVIS_JULIA_VERSION
env:
- CODECOV_TOKEN="257536e4-7c71-4d18-b459-443db91d2870"
